@import "../variables.scss";

.api-parameter-table {
    border: 1px solid $border-color;
    max-width: 470px;
    margin: 12px 0;

    // Thinner top header
    th { height: 24px !important; }

    // Denser rows
    tr > td {
        height: 28px !important;
    }

    // Parameter name less width than description
    tr td:first-child {
        width: 160px;
    }
}

.api-json-block {
    background-color: #0A0A0A;
    padding: 8px;
    margin-top: 4px;
    overflow-x: auto;
}

.api-card {
    $chip-padding: 4px;
    display: inline-block;
    vertical-align: top;

    &__contents {
        background: rgba(0, 0, 0, 0.15);
    }

    &__title-bar {
        background-color: rgba(var(--v-theme-on-background), 0.05);

        &__sub {
            line-height: 2rem;

            code {
                background-color: rgba(var(--v-theme-on-background), 0.2);
                padding: $chip-padding;
            }
        }

        &__method {
            padding: $chip-padding;
        }
    }
}