// Fonts
html {
    font-size: 85% !important;
    font-family: "Overpass", sans-serif !important;

    h1, h2, h3, h4, h5, h6,
    .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
        font-family: "Rajdhani", sans-serif !important;
        font-weight: 600;
    }
}

body { margin: 0; }

// Buttons should have a clickable cursor
button:not(:disabled) { cursor: pointer; }

// Disabled buttons should be darker, not lighter
.v-theme--dark .v-btn__overlay { background-color: black !important; }

// Remove border-radius: buttons, tooltips
body .v-btn,
.v-tooltip>.v-overlay__content { border-radius: 0; }

// Cards not round
body .v-sheet.v-card {
    border-radius: 0;
}

// Modals should not exceed page width
.v-card {
    max-width: 100%;
}

// Table hover not round
body .v-data-table > .v-data-table__wrapper tbody tr:first-child:hover td {
    border-radius: 0 !important;
}

// Hover list
.hover-list-item {
    width: 100%;
    text-align: left;
    display: block;

    &:disabled {
        color: rgba(var(--v-theme-on-surface), var(--v-disabled-opacity));
    }

    .v-icon {
        margin-right: 12px;
    }
}

// Move icons up a bit
.v-icon {
    position: relative;
    top: -1px;
}

// Hoverable
.hoverable {
    transition: background-color 0.2s;
}

.hoverable:not(:disabled):hover {
    background-color: #444;
}

.v-theme--light {
    .hoverable:not(:disabled):hover {
        background-color: #dfdfdf;
    }
}

// Reduce size of heading in modals
.v-card-text > h1 {
    font-size: 1.5rem;
}

// Hide extra padding below from empty details
.v-input__details {
    box-sizing: border-box !important;
    min-height: 0 !important;
    padding-top: 0 !important;

    & .v-messages:empty { display: none; }
    & .v-messages:not(:empty) { margin-top: 6px; }
}

// Fix for vuetify select
.v-select {
    // Make not round
    &,
    .v-select__content,
    .v-field__overlay {
        border-radius: 0 !important;
    }
    // Font size not too large
    .v-select__selection { font-size: 14px; }
}

// Tooltips not round
.v-tooltip > .v-overlay__content {
    border-radius: 0 !important;
}

.v-select__content {
    // Dropdown list not round
    &, .v-list { border-radius: 0 !important; }

    // Remove extra spacing for round corners +
    // make list more compact
    .v-list {
        padding: 0 !important;
        .v-list-item {
            min-height: 36px !important;
        }
    }
}

/* Custom scrollbars */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #b0b0b0 #4a4a4a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #4a4a4a;
}

*::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 0;
    border: 0px none #ffffff;
}

@media only screen and (max-width: 800px) {
    .left,
    .right {
        width: 100%;
        position: relative;
        transform: none;
        left: 0;
        top: auto;
    }
}